<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Movimentacao_Manual.Properties.Settings.MovimentosManuaisConnectionString"
            connectionString="Data Source=12V-5\SQLEXPRESS;Initial Catalog=MovimentosManuais;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>